       
   <div > 
          <div class="hero-section">
               <div class="w-layout-hf flex-block">
                 <h1 class="heading-3">  
                   I&#x27;m a <span class="text-span">Fashion</span> designer
                 </h1>
                 <p class="paragraph" style="display: flex;    max-width: 419px;">
                   Based in Dehradun, India I design trendy and fashion clothes, since I
                   have memory I always had a tendency to design and illustration.
                 </p>
                 <a href="#About-me" class="button sec1 w-button">Learn More</a>
               </div>
               <img
               #imageElement
                 src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704812e05e3ba0aad1af1a_slideshow-1.jpg"
                 loading="lazy"
                 sizes="(max-width: 1880px) 100vw, 1880px"
                 srcset="
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704812e05e3ba0aad1af1a_slideshow-1-p-500.jpg   500w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704812e05e3ba0aad1af1a_slideshow-1-p-800.jpg   800w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704812e05e3ba0aad1af1a_slideshow-1-p-1080.jpg 1080w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704812e05e3ba0aad1af1a_slideshow-1.jpg        1880w
                 "
                 alt=""
                 class="image-85"
                 id="scalable-image"
               />
             </div>
             <section class="section">
               <img
               #imageElement 
                 src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4.webp"
                 loading="lazy"
                 data-w-id="8f91656b-7be4-9bdc-f006-ec5926274f76"
                 sizes="(max-width: 1920px) 100vw, 1920px"
                 alt="image"
                 srcset="
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4-p-500.webp   500w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4-p-800.webp   800w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4-p-1080.webp 1080w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4-p-1600.webp 1600w,
                   https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/66704ddb19d88244b862496e_h17f5-image-banner-4.webp        1920w
                 "
                 class="image-73"
                  id="scalable-image"
                  
               />
             </section>
             <div class="content-section">
               <div class="content-wrapper w-container">
                 <div class="top-border _50">
                   <div class="flex-center">
                     <div
                       data-w-id="4e6e65e5-f908-c3a6-443e-819fe5894227"
                       style="opacity: 1"
                       class="intro-box"
                     >
                       <a href="#About-me" class="relative w-inline-block"
                         ><img
                           src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f202b72b932a162dcf0289_noah-buscher-1118080-unsplash.jpg"
                           width="361"
                           sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, 29vw"
                           srcset="
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f202b72b932a162dcf0289_noah-buscher-1118080-unsplash-p-500.jpeg   500w,
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f202b72b932a162dcf0289_noah-buscher-1118080-unsplash-p-1080.jpeg 1080w,
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f202b72b932a162dcf0289_noah-buscher-1118080-unsplash-p-1600.jpeg 1600w,
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f202b72b932a162dcf0289_noah-buscher-1118080-unsplash.jpg         1800w
                           "
                           alt="image"
                           class="image-hover" /></a
                       ><a href="#About-me" class="title-link">About me</a>
                     </div>
                     <div
                       data-w-id="a8a06f46-5258-480a-0c10-094271f7324f"
                       style="opacity: 1"
                       class="intro-box"
                     >
                       <a href="#" class="relative w-inline-block"
                         ><img
                           src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/667055e7b1d37898b8836d87_about%20me.jpg"
                           width="372"
                           alt="image"
                           class="image-hover" /></a
                       ><a routerLink="/product" class="title-link">My products</a>
                     </div>
                     <div
                       data-w-id="8f90f133-48a6-ed24-43fb-085210013ab5"
                       style="opacity: 1"
                       class="intro-box no-border"
                     >
                       <a href="#Contactme" class="relative w-inline-block"
                         ><img
                           src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f2050d3edd87f8369b4be5_mainpage.png"
                           width="392"
                           sizes="(max-width: 479px) 100vw, (max-width: 767px) 28vw, 29vw"
                           srcset="
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f2050d3edd87f8369b4be5_mainpage-p-500.png 500w,
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f2050d3edd87f8369b4be5_mainpage-p-800.png 800w,
                             https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/65f2050d3edd87f8369b4be5_mainpage.png       883w
                           "
                           alt="image"
                           class="image-hover" /></a
                       ><a href="#Contactme" class="title-link">Contact me</a>
                     </div>
                   </div>
                 </div>
               </div>
             </div>   
             <div
             id="About-me"
             data-w-id="26568618-4075-7663-5eb1-9a3790fd0853"
             style="opacity: 1"
             class="content-section thistle-medium"
           >
           <div>
           <div style="display: flex; align-items: center; justify-content: space-between;     margin-bottom: 34px;">
             <hr style="flex-grow: 1; border: 0; border-top: 2px solid black;margin: 0px 28px 0px 28px;">
             <h1 style="margin: 0 10px; white-space: nowrap;">New Arrivals</h1>
             <hr style="flex-grow: 1; border: 0; border-top: 2px solid black; margin: 0px 28px 0px 28px;">
            
         </div>
         <div class="w-layout-hflex flex-block-2">
              
               <a href="#" class="link-2">View All</a>
             </div>
           </div>
         </div>
    <app-dresses></app-dresses>
    <main
    
    data-w-id="2f1cf20d-1a73-d2b4-9f4e-5a1154ae2110"
    style="opacity: 1"
    class="content-section thistle-medium _2"
  >
    <img
    
       #imageElement
      src="https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250.png"
      loading="lazy"
      data-w-id="f256a15a-cab4-006b-e78c-436ba25d0164"
      sizes="(max-width: 1883px) 100vw, 1883px"
      alt="image"
      srcset="
        https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250-p-500.png   500w,
        https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250-p-800.png   800w,
        https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250-p-1080.png 1080w,
        https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250-p-1600.png 1600w,
        https://cdn.prod.website-files.com/65f202b72b932a162dcf0181/6670603ed83902ccc248d3d2_Screenshot%202024-06-17%20212250.png        1883w
      "
      class="image-80"
      id="scalable-image"
    />
  </main>
    <app-form></app-form>
     </div>   